 <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">aassite v2.0</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">

      <a style="color:white;margin-top:10px" href="/">
        <span data-feather="user"></span>
        {{ auth.user.username }}
      </a>
    </li>
  </ul>
</nav>