<!-- Modal -->
<div class="modal fade  bd-example-modal-sm" id="addImageToGallery" tabindex="-1" role="dialog" aria-labelledby="addImageToGalleryLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <form action="{{ path_for('dashboard.gallery.add') }}" method="post" enctype="multipart/form-data">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addImageToGalleryLabel">Add new Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="upload_file" >
                    <input type="file" name="upload_file" id="upload_file" style="display:none;" onchange="readIMG01(this);"/>
                    <img id="img01" name="img01" src="{{ base_url() }}/assets/img/add-img.svg"  class="img-thumbnail rounded" width="270px" height="270px"/>
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
                {{ csrf.field | raw }}
          </div>
        </div>
    </form>
  </div>
</div>