<!-- Modal -->
<div class="modal fade" id="slideAddDialog" tabindex="-1" role="dialog" aria-labelledby="slideAddDialogLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="{{ path_for('dashboard.slide.create') }}" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="slideAddDialogLabel">Add new Slide</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="slideAddTitle">Berikan judul yang tepat</label>
                    <input type="text" class="form-control" name="slideAddTitle" id="slideAddTitle" placeholder="Title" required autofocus>
                </div>
                <div class="form-group">
                    <label for="slideAdd2">Deskripsikan isi dari slide secara garis besar</label>
                    <input type="text" class="form-control" id="slideAddDesc" name="slideAddDesc" placeholder="Description" required>
                </div>
                <div class="form-group">
                    <label for="slideAdd2">Masukkan link external file slide <i>*jika ada</i></label>
                    <input type="text" class="form-control" id="slideAddLink" name="slideAddLink" placeholder="Link slides" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
                {{ csrf.field | raw }}
            </div>
        </form>
    </div>
  </div>
</div>