<div class="modal fade " id="markClosedFeaturedConfirm{{discussion.id}}" tabindex="-1" role="dialog" aria-labelledby="markClosedFeaturedConfirm" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure mark this important?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/dashboard/discussion/mark?id={{discussion.id}}&status=closed_important" class="btn btn-primary">Mark as Closed</a>
            </div>
        </div>
    </div>
</div>