<div class="modal fade " id="markClosedConfirm{{discussion.id}}" tabindex="-1" role="dialog" aria-labelledby="markClosedConfirmLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/dashboard/discussion/mark?id={{discussion.id}}&status=closed" class="btn btn-primary">Mark as Closed</a>
            </div>
        </div>
    </div>
</div>