<div class="modal fade " id="deleteConfirm{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/dashboard/message/delete?id={{message.id}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>